<script lang="ts" setup>
import BlogCard from "@/components/BlogCard";
import ASection from "@/components/ASection";
import ARouterLink from "@/components/ARouterLink";
import IconOutsideLink from "@/components/icons/IconOutsideLink.vue";
import type { List } from "./type";

const list: List[] = [
    {
        href: "https://kegene.gitlab.io/website-202203",
        title: "Websocket 實作即時訊息",
        describe: "- 提供隨機暱稱\n- 提供內建表情符號\n- 提供假的上傳文件按鈕",
        tags: ["vue3", "websocket", "chat"],
        date: "2022/11/14",
        classes: (nav, index) => [index],
    },
];
</script>
<template>
    <ASection titleText="其他">
        <div
            class="mt-6 space-y-12 py-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3"
        >
            <BlogCard
                class="group rounded-lg overflow-hidden inline-block w-full mb-6 relative border-2 border-transparent transition-colors sm:mb-0 hover:border-gray-600"
                v-for="(item, i) in list"
                :class="item.classes?.(item, i)"
                :key="i"
                title-tag="h3"
                :title-txt="item.title"
                :describe="item.describe"
                :tags="item.tags"
                :date="item.date"
                :href="item.href"
            >
                <template #outside>
                    <ARouterLink
                        :to="item.href"
                        class="absolute right-2 top-2 bg-gray-200 p-[6px] pr-[5px] pt-[5px] bg-opacity-70 rounded transition-all origin-right-top hover:bg-opacity-90 group-hover:scale-150 group-hover:rounded-br-none group-hover:rounded-tl-none"
                    >
                        <IconOutsideLink class="transition" />
                    </ARouterLink>
                </template>
            </BlogCard>
        </div>
    </ASection>
</template>
<style scoped></style>
