<script setup lang="ts">
// import TheWelcome from "../components/TheWelcome.vue";
import HomeBrand from "@/views/HomeView/HomeBrand.vue";
import HomeSystem from "@/views/HomeView/HomeSystem.vue";
import HomeOther from "@/views/HomeView/HomeOther.vue";
import ASection from "@/components/ASection";
</script>

<template>
    <main>
        <ASection title-text="Hi!">
            <p>此頁為個人參考設計、練習實作的網站，無任何商業用途</p>
        </ASection>
        <HomeBrand></HomeBrand>
        <HomeSystem></HomeSystem>
        <HomeOther></HomeOther>
    </main>
</template>

<style scoped></style>
