<script lang="ts" setup>
/** @type {import('tailwindcss').Config} */
import type { PropType } from "vue";
import { TwV3ColorsKey, getColor } from "@/utils/tailwind-colors";

const props = defineProps({
    txt: {
        type: String,
    },
    isOutline: {
        type: Boolean,
    },
    color: {
        type: String as PropType<typeof TwV3ColorsKey[number]>,
        validator: (value: any) => {
            return (
                value === "" ||
                value === undefined ||
                TwV3ColorsKey.includes(value)
            );
        },
        default: "",
    },
});
// console.log(
//     JSON.stringify({
//         default: getColor(["bg"], 300),
//         outline: getColor(["text", "border"], 500),
//     })
// );
const colors = {
    default: {
        inherit: "bg-inherit-300",
        current: "bg-current",
        transparent: "bg-transparent",
        black: "bg-black",
        white: "bg-white",
        slate: "bg-slate-300",
        gray: "bg-gray-300",
        zinc: "bg-zinc-300",
        neutral: "bg-neutral-300",
        stone: "bg-stone-300",
        red: "bg-red-300",
        orange: "bg-orange-300",
        amber: "bg-amber-300",
        yellow: "bg-yellow-300",
        lime: "bg-lime-300",
        green: "bg-green-300",
        emerald: "bg-emerald-300",
        teal: "bg-teal-300",
        cyan: "bg-cyan-300",
        sky: "bg-sky-300",
        blue: "bg-blue-300",
        indigo: "bg-indigo-300",
        violet: "bg-violet-300",
        purple: "bg-purple-300",
        fuchsia: "bg-fuchsia-300",
        pink: "bg-pink-300",
        rose: "bg-rose-300",
    },
    outline: {
        inherit: "text-inherit-500 border-inherit-500",
        current: "text-current border-current",
        transparent: "text-transparent border-transparent",
        black: "text-black border-black",
        white: "text-white border-white",
        slate: "text-slate-500 border-slate-500",
        gray: "text-gray-500 border-gray-500",
        zinc: "text-zinc-500 border-zinc-500",
        neutral: "text-neutral-500 border-neutral-500",
        stone: "text-stone-500 border-stone-500",
        red: "text-red-500 border-red-500",
        orange: "text-orange-500 border-orange-500",
        amber: "text-amber-500 border-amber-500",
        yellow: "text-yellow-500 border-yellow-500",
        lime: "text-lime-500 border-lime-500",
        green: "text-green-500 border-green-500",
        emerald: "text-emerald-500 border-emerald-500",
        teal: "text-teal-500 border-teal-500",
        cyan: "text-cyan-500 border-cyan-500",
        sky: "text-sky-500 border-sky-500",
        blue: "text-blue-500 border-blue-500",
        indigo: "text-indigo-500 border-indigo-500",
        violet: "text-violet-500 border-violet-500",
        purple: "text-purple-500 border-purple-500",
        fuchsia: "text-fuchsia-500 border-fuchsia-500",
        pink: "text-pink-500 border-pink-500",
        rose: "text-rose-500 border-rose-500",
    },
};
const classes = props.isOutline
    ? `border border-[1px] ${colors.outline[props.color]}`
    : `text-black ${colors.default[props.color]}`;
</script>
<template>
    <span
        :class="[
            'inline-block',
            'text-xs',
            'px-3',
            'py-1',
            'rounded-full',
            classes,
        ]"
        ><slot>{{ props.txt }}</slot></span
    >
</template>

<style scoped></style>
