<script lang="ts" setup>
import { ref, onMounted, computed } from "vue";
import type { Ref } from "vue";
export declare interface PropsSourcesMedia {
    [key: string]: string;
}
export declare interface PropsSources {
    srcset: string[];
    media: PropsSourcesMedia;
    type?: string;
}
export declare interface Props {
    alt?: string;
    img?: string;
    sources?: PropsSources[];
    isAutoImage?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
    alt: "",
    img: "",
    isAutoImage: true,
});
const fallbackImage =
    "https://picsum.photos/500/500?" + ~~(Math.random() * 100);

const baseImg = computed(
    () => props.img || (props.isAutoImage && fallbackImage) || ""
);

const refBaseImg = ref<Ref<HTMLImageElement> | null>(null);

const resolveSrcset = (list: string[]): string => {
    return list.join(",");
};

const resolveMedia = (media: PropsSourcesMedia): string => {
    let str = "";
    const mediaKeys = Object.keys(media);
    const length = mediaKeys.length;

    for (let i = 0; i < length; i++) {
        const key = mediaKeys[i];
        str += `(${key}:${media[key]}) ${mediaKeys[i + 1] ? "and" : ""} `;
    }

    return str;
};

const handlerBaseImgError = (error: Event) => {
    console.error("[Error:IMG is load error]", error);
    if (!props.isAutoImage) return;
    if (!refBaseImg.value) return;
    refBaseImg.value.src = fallbackImage;
};

onMounted(() => {});
</script>
<template>
    <figure>
        <picture
            class="inline-block relative h-64 w-full bg-slate-400"
            v-if="props.sources || props.isAutoImage"
        >
            <source
                v-for="s of props.sources"
                :key="resolveSrcset(s.srcset)"
                :srcset="resolveSrcset(s.srcset)"
                :media="resolveMedia(s.media)"
                :type="s.type"
            />
            <img
                class="h-full w-full object-cover object-center"
                loading="lazy"
                ref="refBaseImg"
                :src="baseImg"
                :alt="props.alt || ''"
                @error="handlerBaseImgError"
            />
        </picture>
        <figcaption>
            <slot> </slot>
        </figcaption>
    </figure>
</template>

<style scoped></style>
