<script lang="ts" setup>
import { computed } from "vue";
import type { PropType } from "vue";
import type { RouterLinkProps, RouteLocationRaw } from "vue-router";
import { RouterLink } from "vue-router";

const props = defineProps({
    to: {
        required: true,
        type: [String, Object] as PropType<RouteLocationRaw>,
    },
    custom: {
        type: Boolean as PropType<RouterLinkProps["custom"]>,
    },
    activeClass: {
        type: String as PropType<RouterLinkProps["activeClass"]>,
    },
    exactActiveClass: {
        type: String as PropType<RouterLinkProps["exactActiveClass"]>,
    },
    ariaCurrentValue: {
        type: String as PropType<RouterLinkProps["ariaCurrentValue"]>,
        validator: (v: string) => {
            const rex = `"page" |
        "step" |
        "location" |
        "date" |
        "time" |
        "true" |
        "false"`;
            return rex.split("|").includes(v);
        },
    },
    replace: { type: Boolean as PropType<RouterLinkProps["replace"]> },
    inactiveClass: { type: String },
    inexactActiveClass: { type: String },
});

const isExternalLink = computed(() => {
    return typeof props.to === "string" && props.to.startsWith("http");
});
const href = computed<string | undefined>(() => {
    return isExternalLink.value ? (props.to as string) : undefined;
});
</script>
<template>
    <a
        v-if="isExternalLink"
        class="a-router-link"
        v-bind="$attrs"
        :href="href"
        target="_blank"
    >
        <slot />
    </a>
    <RouterLink
        v-else
        v-bind="props"
        #default="{ navigate, href, isActive, isExactActive }"
    >
        <a
            v-bind="$attrs"
            :href="href"
            @click="navigate"
            :class="[
                isActive ? props.activeClass : props.inactiveClass,
                isExactActive
                    ? props.exactActiveClass
                    : props.inexactActiveClass,
            ]"
        >
            <slot />
        </a>
    </RouterLink>
</template>

<style scoped></style>
