<script lang="ts" setup>
const props = defineProps<{
    title?: string;
    index?: string | number;
}>();
</script>
<template>
    <div class="time-line-item relative flex gap-10 bg-inherit border-inherit">
        <div
            class="time-line-item__step"
            :class="[{ 'is-custom': props.index }]"
            :time-step="props.index"
        ></div>
        <div class="time-line-item__content">
            <slot name="title">
                <h3 class="text-3xl" v-if="props.title">
                    {{ props.title }}
                </h3>
            </slot>
            <slot></slot>
        </div>
    </div>
</template>
<style>
.time-line-item + .time-line-item {
    @apply pt-5;
}
.time-line-item__step-global {
    @apply h-8 mt-1 flex-shrink-0 bg-inherit rounded-full border-inherit relative;
}
.time-line-item__step.is-dot,
.time-line-item__step.is-index {
    @apply time-line-item__step-global w-8 h-8 ml-[calc(-1rem-1px)];
}
.time-line-item__step.is-custom {
    @apply time-line-item__step-global;
}

.time-line-item__step.is-dot:after {
    @apply rounded-full border-2 border-inherit absolute inset-2;
    content: "";
    z-index: 1;
}
.time-line-item__step.is-index:after {
    @apply text-xl rounded-full border-inherit border-2 flex justify-center items-center absolute inset-0;
    content: attr(time-step);
    z-index: 1;
}
.time-line-item__step.is-index:before {
    @apply absolute bg-inherit -inset-y-2 w-8;
    content: "";
}
.time-line-item__step.is-custom:after {
    @apply text-xl;
    content: attr(time-step);
    z-index: 1;
}
</style>
