<script lang="ts" setup>
import { ref, onMounted } from "vue";

export declare interface Props {
    autoIndex?: "number" | "dot";
}

const props = withDefaults(defineProps<Props>(), {});

const timeLine = ref<HTMLDivElement | null>(null);

const handlerTimeLineRender = (el: HTMLDivElement | null) => {
    if (!el) return;
    const items = [...el.querySelectorAll(".time-line .time-line-item__step")];
    items.forEach((item, i) => {
        if (props.autoIndex) {
            item.setAttribute("time-step", i + 1 + "");
            const classes = {
                number: "is-index",
                dot: "is-dot",
            };
            item.classList.add(classes[props.autoIndex]);
        }
    });
};

onMounted(() => {
    handlerTimeLineRender(timeLine.value);
});
</script>

<template>
    <div class="time-line relative flex p-5" ref="timeLine">
        <div
            class="time-line__step-line relative border-l-2 border-inherit flex"
        >
            <div class="absolute border-l-2 border-inherit left-0.5"></div>
        </div>
        <div class="time-line__body">
            <slot></slot>
        </div>
    </div>
</template>
<style lang="postcss">
.time-line {
    .time-line__body {
        @apply bg-inherit border-inherit;
    }
}
</style>
