<script lang="ts" setup>
const props = defineProps<{
    titleText?: string;
}>();
</script>
<template>
    <section class="container mx-auto max-w-5xl p-10">
        <h2 class="text-2xl font-bold text-gray-900" v-if="props.titleText">
            <slot name="title">{{ props.titleText }}</slot>
        </h2>

        <slot></slot>
    </section>
</template>

<style scoped></style>
