<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
    <header class="bg-gray-100 border sticky top-0 z-10">
        <nav class="flex justify-center container mx-auto px-2">
            <RouterLink class="btn group" to="/">Home</RouterLink>
            <RouterLink class="btn group" to="/about">About</RouterLink>
        </nav>
    </header>

    <RouterView />
</template>

<style scoped>
.btn {
    @apply relative py-3 px-2 mx-10 rounded-lg text-black text-center text-3xl transition-colors

    before:block
    before:w-0
    before:h-[4px]
    before:absolute
    before:-bottom-px
    before:left-2/4
    before:bg-black
    before:transition-all
    before:hover:w-full 
    before:hover:left-0;
}
.router-link-active {
    @apply before:w-full before:left-0;
}
</style>
