<script lang="ts" setup>
import { ref, onMounted } from "vue";
import ASection from "@/components/ASection";
import ATag from "@/components/ATag";
import TimeLine, { TimelineItem } from "@/components/TimeLine";
import SubTitle from "./SubTitle.vue";

import { relativeTime } from "@/utils/format-date";

const refSummary = ref<HTMLDivElement | null>(null);
let summary = "";

const resolveTextContent = (text: any) => {
    if (typeof text !== "string") return "";
    if (!text) return "";
    const regExps = [
        [/\*\*(.*?)\*\*/g, `<span class="font-medium underline">$1</span>`],
        [/\\n/g, `<div class="pt-2"/>`],
        [/__(.*?)__/g, `<span class="text-lg text-gray-500">$1</span>`],
    ];
    for (const regExp of regExps) {
        text = text.replace(regExp[0], regExp[1]);
    }
    return text;
};
const resolveSummaryContent = <T extends HTMLDivElement | null>(
    ref: T
): void => {
    if (!ref) return;
    summary = resolveTextContent(ref.textContent);
    ref.innerHTML = summary;
};

onMounted(() => {
    resolveSummaryContent(refSummary.value);
});
</script>
<template>
    <section class="about">
        <ASection>
            <div class="flex items-center">
                <h1 class="text-6xl pr-4">Jun</h1>
                <ul>
                    <li class="flex gap-2">
                        租屋北漂仔，目前在
                        <address class="address-style-none">新北市</address>
                    </li>
                    <li class="flex gap-2">
                        Email:
                        <address class="address-style-none">
                            <a
                                class="text-blue-500"
                                href="mailto:acatact8228@gmail.com?subject=Hey!&body=Hi! Ke Jun:"
                                >acatact8228@gmail.com</a
                            >
                        </address>
                    </li>
                    <li>
                        歡迎徵才、閒聊、提供建議，如果是問問題，不要問太難。
                    </li>
                    <li>
                        <ATag
                            color="emerald"
                            class="mr-1"
                            isOutline
                            v-for="tag in [
                                'Vue',
                                'Web front-end engineer (1~3 year)',
                            ]"
                            :key="tag"
                            >{{ tag }}</ATag
                        >
                    </li>
                </ul>
            </div>
        </ASection>
        <ASection titleText="簡介">
            <div ref="refSummary" class="text-xl pt-5">
                **私校企管系，大學畢業後從事人資相關工作**，發現實務上與學校讀的認知不同，人生茫茫，決定跳槽學程式。
                \n
                **離職後報名資策會的前端網頁工程師養成班**，半年學習相關知識並實作，**目前網頁前端相關經歷約三年**，詳情請見以下經歷介紹。
                \n\n
                __如果您好奇這麼多工作，為何選擇程式？解答：小時候其實志願是汽修/資處/資工，但最後讀了女生比較多的觀光跟企管..(
                ºωº )，現在回頭學自己比較有興趣的東西。__
            </div>
        </ASection>
        <ASection titleText="工作經歷">
            <div class="pt-5">
                <TimeLine class="bg-gray-50 border-black" autoIndex="dot">
                    <TimelineItem title="自修 ing" class="pt-5">
                        <SubTitle :dates="['2022/10/01']"></SubTitle>
                        <p>
                            沒碰程式有一年空窗，跟感情一樣空，努力複習接軌中。
                        </p>
                    </TimelineItem>

                    <TimelineItem
                        title="內場/外場/備料/打烊班（自營餐飲店 沒事別開店）"
                        class="pt-5"
                    >
                        <div class="text-gray-500 py-2">
                            <SubTitle
                                :dates="['2022/1/1', '2022/9/30']"
                                contentText="湁而已（已結束營業）"
                            />
                        </div>
                        <p>
                            主要站崗內場餐廚，偶爾需要支援外場，日常工作主要為營業前打掃、備料、食材採購、餐點製作，最後善後整潔。
                        </p>
                        <p>除了搬重物做不到以外的都做。</p>
                    </TimelineItem>
                    <TimelineItem title="Vuejs 前端工程師" class="pt-5">
                        <SubTitle
                            :dates="['2019/1/1', '2021/10/31']"
                            contentText="金時數位整合行銷, 網頁前端部門"
                        />

                        <div>
                            <p>
                                使用 vue2（class-component風格）
                                進行前後平台的開發、維護、重構。
                            </p>
                            <br />
                            <h3 class="flex items-center">
                                後台項目（客戶後台）
                            </h3>
                            <div class="pb-2">
                                <ATag
                                    color="gray"
                                    class="mr-1"
                                    v-for="tag in [
                                        '5 位前端',
                                        '5+ 位後端',
                                        'Vue2',
                                        'Typescript',
                                        'Element-ui',
                                        'i18n',
                                    ]"
                                    :key="tag"
                                    >{{ tag }}</ATag
                                >
                            </div>
                            <p>
                                客戶可透過平台進行轉帳、查看與他相關的各式報表、客戶團隊等級設置與查閱等。
                            </p>
                            <br />

                            <h3 class="flex items-center">
                                前台項目（形象官網）
                            </h3>
                            <div class="pb-2">
                                <ATag
                                    color="gray"
                                    class="mr-1"
                                    v-for="tag in [
                                        '1-5 位前端',
                                        '1-2 位後端',
                                        'Vue2',
                                        'Typescript',
                                        'i18n',
                                    ]"
                                    :key="tag"
                                    >{{ tag }}</ATag
                                >
                            </div>
                            <p>
                                提供即時匯率、專家觀點報告、FAQ、教學影片區，各式看起來很專業的內容。
                            </p>
                            <br />

                            <h3 class="flex items-center">其他負責項目</h3>
                            <p>
                                維護公司旗下6個形象官網、3個後台項目、1個公司內部員工後台。
                            </p>
                        </div>
                    </TimelineItem>
                    <TimelineItem title="進修" class="pt-5">
                        <SubTitle
                            :dates="['2018/6/20', '2021/12/1']"
                            contentText="中壢 資策會, 前端工程師養成班"
                        />
                        <div>
                            <p>
                                為期近半年的學程，學習網頁切版基礎 HTML, CSS,
                                JS，學習 mySQL &
                                php。學程第二個月製作個人設計的網站，第四個月製作專題項目
                            </p>
                            <p>
                                在個人網站，設計製作「盆栽電商」，提供植物盆栽網購、植物知識分享以及種植討論區，有興趣的話可以短暫公開觀看我的黑歷史。
                            </p>
                            <p>
                                在團體專題，我們製作「團購餐點電商平台」，提供餐點優惠、預約餐點、定制一週伙食菜單的服務，以拖拉進行餐點訂購，換取兌換卷，還提供創立團購隊伍，組越多人折扣碼越多功能。
                            </p>
                            <p>
                                在專題裡我負責會員登入、FAQ機器人關鍵字問答、支援各組員部分內容。
                            </p>
                        </div>
                    </TimelineItem>
                </TimeLine>
            </div>
        </ASection>
        <ASection titleText="透露年齡的其他經歷">
            <div class="pt-5">
                <TimeLine class="bg-gray-50 border-black" autoIndex="dot">
                    <TimelineItem title="人事助理" class="pt-5">
                        <div class="text-gray-500 py-2">
                            <span class="date">2016/10/01 ~ 2018/04/20</span>
                            至良科技, 管理課
                        </div>

                        <p>
                            職務內容：
                            安排面試、員工報到事宜、員工離職事宜、紀錄員工出勤、辦公設備管理、協助更新ISO文件、主管交代事項。
                        </p>

                        <p>這一年半 除了人事工作，連文書技能也升級：</p>
                        <ul>
                            <li>
                                -
                                出勤表格打字打的好累，於是我開始研究如何更快輸出，研究
                                excel
                                有哪些公式合適在我的場景，而自引用公式後，這個項目的工作效率提升80%++！輕輕鬆鬆，快快樂樂！
                            </li>
                            <li>
                                -
                                核對一堆亂碼表，看到眼花，於是又開始研究巨集，編寫腳本完成一鍵資料帶入，原本要核對一個上午的資料，一秒完成！
                            </li>
                        </ul>
                        <p>
                            在研究巨集、編寫腳本的過程覺得相當有趣，於是就去報名資策會了，入門班先試試看。
                        </p>
                    </TimelineItem>

                    <TimelineItem title="工讀生" class="pt-5">
                        <div class="text-gray-500 py-2">
                            <span class="date">2012 ~ 2016</span>
                        </div>
                        <ul>
                            <li>2012 - 餐飲業 內/外場工讀</li>
                            <li>2013 - 餐飲業 內/外場工讀</li>
                            <li>2014 - 補教業 櫃檯工讀</li>
                            <li>2015 - 服飾業 一般工讀</li>
                        </ul>
                    </TimelineItem>
                </TimeLine>
            </div>
        </ASection>
    </section>
</template>

<style scoped>
.address-style-none {
    font-style: initial;
}
.about :deep(h2) {
    @apply text-4xl font-bold;
}
.about h3 {
    @apply pb-2 text-xl font-bold;
}

.about p {
    @apply leading-8;
}
.about :deep(.time-line-item + .time-line-item) {
    @apply pt-14;
}
</style>
