<script lang="ts" setup>
import { relativeTime, formatDate } from "@/utils/format-date";

type RelativeTime = Parameters<typeof relativeTime>;

interface RelativeTimeOptions {
    short: RelativeTime[2];
}

const props = defineProps<{
    dates: RelativeTime[0][];
    relativeTime?: RelativeTimeOptions;
    mark?: string;
    contentText?: string;
}>();

const mark = props.mark ?? "~";
const short = props.relativeTime?.short || false;
const [start, end] = formatDate(props.dates);
</script>
<template>
    <div class="SubTitle">
        <div class="text-gray-500 py-2">
            <span class="date" v-if="start" start>{{ start }}</span>
            <span class="date-mark px-2" v-if="mark" mark>{{ mark }}</span>
            <span class="date" v-if="end">{{ end }}</span>
            <span class="date" v-if="props.relativeTime">
                ({{ relativeTime(start, end, short) }})</span
            >
            <slot>{{ props.contentText }}</slot>
        </div>
    </div>
</template>
<style scoped></style>
