<script lang="ts" setup>
import ACard from "@/components/ACard";
import ATag from "@/components/ATag";

export interface Props {
    titleTag?: string;
    titleTxt?: string;
    describe?: string;
    tags?: string[];
    date?: string;
}

const props = defineProps<Props>();
const dateOptions: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    weekday: "short",
    timeZone: "Asia/Taipei",
};
const date = props.date
    ? new Date(props.date).toLocaleDateString(undefined, dateOptions)
    : "";
</script>
<template>
    <ACard>
        <div class="flex flex-col pb-4 pt-2 px-6 leading-relaxed">
            <span
                v-if="date"
                class="inline-block text-slate-500 text-sm pb-1"
                >{{ date }}</span
            >
            <component :is="props.titleTag" class="font-semibold text-2xl"
                ><slot name="title">{{ props.titleTxt }}</slot></component
            >
            <p class="whitespace-pre-line">{{ describe }}</p>
        </div>
        <ul v-if="props.tags && props.tags.length" class="pb-4 px-3">
            <li v-for="tag of props.tags" :key="tag" class="inline-block">
                <ATag color="gray" class="pointer-events-none mr-1">{{
                    tag
                }}</ATag>
            </li>
        </ul>

        <slot name="footer" />

        <slot name="outside" />
    </ACard>
</template>

<style scoped></style>
